@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Inter';
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    padding-left: 300px;
    gap: 50px;
    padding-top: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.box-2 {
    padding-left: 50px;
    margin-top: -2px;
    padding-top: 0;
}

.box-container {
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-3 {
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 100px;
    padding-top: 50px;
}

.box-4 {
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

button {
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 35px;
    border-radius: 35px;
    background-color: rgba(72, 72, 221, 0.699);
    color: white;
}

.but {
    padding: 40px;
}

.footer {
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
}

.foot {
    width: 1200px;
}